.nav-btn {
  color: white;
  background: var(--main-color);
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 4px;
  transition: 0.3s;
}
.nav-btn:is(:focus, :active) {
  background-color: var(--main-color) !important;
}
.nav-btn:hover {
  background-color: rgba(62, 186, 190, 0.795) !important;
}
